.place__title{
    margin: 0 16px;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.1;
}
  
@media screen and (min-width: 768px) {
    .place__title {
        margin: 0;
        font-size: 42px;
    }
}
  
@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 1.05;
    }
}