.cover__subtitle{
    max-width: 360px;
    margin: 0;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.2;
    }
}
