.header__logo {
    background-image: url(../../../images/header-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 52px;    
}

@media (max-width: 768px) {
    .header__logo {
        height: 42px;
    }
}