.content{
    width: 100%;
    padding-top: 48px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  
@media screen and (min-width: 768px) {
    .content {
      padding-bottom: 88px;
    }
}
  
@media screen and (min-width: 1024px) {
    .content {
      padding-bottom: 92px;
    }
}
  
@media screen and (min-width: 1280px) {
    .content {
      padding-top: 56px;
    }
}