.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    transition: opacity 1s ease;
}
  
.footer__link:hover {
    opacity: 0.8;
}
  
  @media screen and (min-width: 768px) {
      .footer__link {
        font-size: 16px;
        line-height: 1.15;
      }
  }