.lead__title {
    width: 90%;
    margin: 0 0 16px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;    
}
  
@media screen and (min-width: 768px) {
    .lead__title {
        width: 720px;
        margin-bottom: 32px;
        font-size: 96px;
        line-height: 1.05;
    }
}
  