.place__paragraph{
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 1.6;
}
  
.place__paragraph:last-of-type {
    margin: 0;
}
  
@media screen and (min-width: 1024px) {
    .place__paragraph {
      font-size: 18px;
      line-height: 1.7;
    }
}