@import url(./__list/intro__list.css);
@import url(./__span/intro__span.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
    width: 90%;
    padding-top: 64px;
    padding-bottom: 64px;
}
  
@media screen and (min-width: 768px) {
    .intro {
        width: 93.75%;
        max-width: 928px;
        padding-top: 88px;
        padding-bottom: 88px;
    }
}
  
@media screen and (min-width: 1024px) {
    .intro {
        width: 90.625%;
        max-width: 984px;
        padding-top: 92px;
        padding-bottom: 92px;
    }
}
  