.lead__subtitle {
    width: 90%;
    max-width: 640px;
    margin: 0 0 40px;
    text-align: center;
    font-size: 16px;
    line-height: 1.25;
}
  
@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin-bottom: 56px;
        font-size: 30px;
        line-height: 1.2;
    }
}
  
@media screen and (min-width: 1280px) {
    .lead__subtitle {
        margin-bottom: 64px;
    }
}