.cover__title{
    max-width: 560px;
    margin: 0 0 16px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .cover__title {
       margin-bottom: 32px;
       font-size: 72px;
       line-height: 1.05;
    }
}
  