@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__text/place__text.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place {
    display: grid;
    grid-gap: 32px;
}
  
@media screen and (min-width: 768px) {
    .place {
        grid-template-columns: minmax(340px, 47%) auto;
        grid-template-rows: repeat(2, auto);
        grid-gap: 48px 28px;
    }
}
  
@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: minmax(440px, 47%) auto;
        grid-column-gap: 32px;
    }
}
  
@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: 480px auto;
        grid-column-gap: 40px;
    }
}