.intro__title {
    margin: 0 0 40px 0;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
}
  
@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
    }
}
  